.SearchBar{
    text-align: center;
}
.Search{
    margin: 0 auto;
    display: block;
}

img {
    width: 100px;
}

.prodStyle {
    border: 2px solid gray;
    border-radius: 10px;
    width: 100px;
    padding: 1rem;
    overflow: scroll;
    margin: 1rem;
    text-align: center;
}